.dynamic-shadow-dom {
  --dynamic-connect-button-background: #0096f7;
  --dynamic-connect-button-color: #fff;
  --dynamic-connect-button-background-hover: #40abf3;
  --dynamic-connect-button-color-hover: #fff;
}

.loading-state {
    --dynamic-connect-button-background: #0096f7;
    --dynamic-connect-button-color: #fff;
    --dynamic-connect-button-background-hover: #40abf3;
    --dynamic-connect-button-color-hover: #fff;
  }
  
